# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../:\Users\ankur\iiitdmjbp\B.Tech - ECE\Algorithms, Part I - Princeton University\Assignments\collinear\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
